

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	color: #565656;
}


#header {
	margin-bottom: 1em;
}

#appname {
    float: left;
    margin: 5;
    padding: 5px 0px;
    font-size: 150%;
    vertical-align: middle;
}

#banner {
    float: left;
    margin: 5;
    padding: 5px 10px;
    font-size: 150%;
    vertical-align: middle;
}
    

#headerWrapper {
    width:950px;
    min-width: 950px;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;

    /* fix max-width incompatibility in IE6 */
    width:expression(document.body.clientWidth > 950? "950px": "auto" );
    
    overflow:hidden;
    display:block;
}

#wrapper {
	width:950px;
	min-width: 950px;
	max-width: 950px;
	margin-right: auto;
	margin-left: auto;

	/* fix max-width incompatibility in IE6 */
	width:expression(document.body.clientWidth > 950? "950px": "auto" );
	
	overflow:hidden;
	display:block;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}.button:active {
	position:relative;
	top:1px;
}

#main {
	overflow:hidden;
	display:box;
}

#menu {
	background: #eee;
	position:relative;
	float:left;  	
	left:0px;
	width:220px;
	margin-right:15px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 2em;
}

#menu ul li{
	padding: 4em;
}

#menu h3{
	padding-left: 1em;
}

#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}

#menu h2 {
	color: #fff;
	background: #648C1D;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 12px;

}

#menu a {
	color: #666666;
	background: #efefef;
	text-decoration: none;
	padding: 2px 12px;
}

#menu a:hover {
	color: #5478b7;
	background: #fff;
}

#footer {
	padding-top:1em;
	margin-top:15px;
	border-top:1px solid #999999;
}



label {
	width:150px;
	float:left;
	margin-left: 5px;
	margin-top: 5px;
}

input {
	height:20px;
}

input, textarea, select {
	border:1px solid #B3B3B3;
}


submit {
	height:25px;
}

div {
	text-align: left;
}

div .box {
	display:block;
	margin-left:105px;
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 


/* a:link {
	color: #5478b7;
}

a:hover {
	color: #5478b7;
}

a:active {
	color: #5478b7;
}

a:visited {
	color: #5478b7;
}  */


.table_styled {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.table_styled table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table_styled tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.table_styled table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.table_styled table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.table_styled tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.table_styled tr:hover td{
	
}
.table_styled tr:nth-child(odd){ background-color:#b7cef7; }
.table_styled tr:nth-child(even)    { background-color:#ffffff; }.table_styled td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.table_styled tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table_styled tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table_styled tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table_styled tr:first-child td{
		background:-o-linear-gradient(bottom, #5478b7 5%, #5478b7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5478b7), color-stop(1, #5478b7) );
	background:-moz-linear-gradient( center top, #5478b7 5%, #5478b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5478b7", endColorstr="#5478b7");	background: -o-linear-gradient(top,#5478b7,5478b7);

	background-color:#5478b7;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.table_styled tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5478b7 5%, #5478b7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5478b7), color-stop(1, #5478b7) );
	background:-moz-linear-gradient( center top, #5478b7 5%, #5478b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5478b7", endColorstr="#5478b7");	background: -o-linear-gradient(top,#5478b7,5478b7);

	background-color:#5478b7;
}
.table_styled tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table_styled tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}




